---
layout: default
---

<div class="page">

  <h1 class="page-title">{{ page.desc }}</h1>
  {{ content }}
 

  {% assign content = post.content | strip_newlines %}
  {% if content == ""  %}
  <hr> 
  <h1 class="page-title">{{ page.title }} (Index of Posts):</h1>

  {% for tag in site.categories %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    {% if page.title == t %}

  <ul>
  {% for post in posts reversed %}
    {% if post.categories contains t %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  <hr>

  {% endif %}
  {% endfor %}




  {% for tag in site.categories %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    {% if page.title == t %}

  {% for post in posts reversed %}
    {% if post.categories contains t %}

    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.content }}
    </div>

    {% endif %}

    <hr>
  {% endfor %}


  {% endif %}
  {% endfor %}

{% endif %}

</div>
