---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
 
 	{% if page.date %}
		 <span class="post-date">{{ page.date | date_to_string }}</span> 
	{% endif %}

	{% if page.categories %}
	  	{% for word in page.categories %}
        <a class="button" href="{{ site.baseurl }}/aReadingsIndexByCategory/#{{word | replace:" ","-" }}"> {{ word }}</a> 
  		{% endfor %} 	
	{% endif %}

   {% if page.tags %}
      {% for word in page.tags %}
        {% assign wordd = word  %}        
        <a class="button" href="{{ site.baseurl }}/aReadingsIndexByTags/#{{wordd | replace:" ","-" }}"> {{ wordd }}</a> 
      {% endfor %}  
    {% endif %}

  	{{ content }}

</div>
